# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
.idea

# app
.env
app/web/test-results/
app/web/tmp/
app/web/routes/
app/web/vendor

# mysql
app/mysql/logs
app/mysql/data