# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
.idea

# app
.env
service/web/test-results/
service/web/tmp/
service/web/routes/
service/web/vendor
service/web/log

# mysql
service/mysql/logs
service/mysql/data