{{set . "title" "TOP"}}
{{template "header.html" .}}

<header class="jumbotron">
    <div class="container">
        <div class="row">
            <h2>Cycle Reminderとは</h2>
            <p></p>
        </div>
    </div>
</header>
<div class="page-header">
    <h5>設定した日数周期で任意のメッセージをメールで通知してくれるサービスです。</h5>
    <h5>うっかり忘れてしまいそうな事を思い出す事が出来ます。</h5>
    <a class="btn btn-danger" href="login">Gmailを登録して利用開始<a><br>
            <a href="./terms">利用規約</a>に同意の上、利用開始ボタンを押してください。<br>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
