{{set . "title" "利用規約"}}
{{template "header.html" .}}

<div class="page-header">
    <h3>
        <span class="glyphicon glyphicon-info-sign">利用規約</span>
    </h3>
</div>
<div class="panel panel-primary">
    <div class="panel panel-heading">内容</div>
    <div class="panel-body">
<pre>
利用規約はこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。
本サービスの利用規約のすべての条項に同意されることを条件として本サービスをご使用になる利用者に対して本サービスの使用を許諾します。

お客様情報登録
　・本サービスを利用するには、通知メールアドレスの登録が必要になります。
　　本サービスが提供する「ログイン」もしくは「利用開始」ボタンをクリックすると、Googleアカウントによるログインを要求します。
　　利用者がGoogleログインにより情報の提供を許可すると、Gmailアドレス情報が本サービスへ送信されます。
   上記操作をもって利用者は本サービスがこの時受信したGmailアドレス情報を利用しメール通知する事を許可したとみなします。

免責および保証
　・本サービスの使用または使用不能によって生じるあらゆる直接的・間接的損害（逸失利益、事業機会の喪失およびデータの損壊に基づく損害を含む）
   および第三者からの請求に基づく利用者の損害について、その原因のいかんを問わず、ー切の責任を負いません。

　・本サービスについて、その品質・性能・特定目的に対する適合性などを一切保証はいたしません。

　・本サービスの機能および本サービスに付随するサービス等について利用者の事前の許可なく変更・中止する場合があります。
   本規約同意時における本サービスと同等の使用環境を永続的に保証するものではありません。

サポート
  ・利用者に対する利用方法説明、機能説明など利用上の個別サポートは行いません。

禁止事項
　・利用者が以下の行為を行った場合は、登録情報の削除 or アクセス禁止処置を行うことがあります。
　　1. 故意によるURLやパラメータ改竄、あるいはシステムの不具合（バグ）を利用したデータ改竄/破壊行為

　　2. 通常利用を超える様な過度なアクセス、サーバーに過剰な負荷をかける行為

　　3. 他人のユーザー乗っ取り行為、ログイン情報の不正利用

　　4. その他、法律や公序良俗に反する行為

試用Ver
　・試用期間途中もしくは終了時に登録情報のリフレッシュが行われる可能性があります。

利用規約変更
　・本利用規約内容は事前の利用者への通知、許可なく変更する場合があります。
        </pre>
    </div>

</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
