<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  <nav class="navbar navbar-default ">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="./">Cycle Reminder (試用期間中)</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="nav_target">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/terms">利用規約</a></li>
                  {{if .isLogin}}
                  <li><a href="/create">リマインダー登録</a></li>
                  <li><a href="/reminders">リマインダーリスト</a></li>
                  <li><a href="/logout">ログアウト</a></li>
                  {{else}}
                  <li><a href="/login">ログイン</a></li>
                  {{end}}
              </ul>
          </div>
      </div>
  </nav>